In [1]:
import pandas as pd

In [3]:
read_file = pd.read_excel("data/Tabel Harga Bawang Merah.xlsx")
df = pd.DataFrame(read_file)
df

,No,Komoditas (Rp),03/ 01/ 2022,01/ 02/ 2022,01/ 03/ 2022,01/ 04/ 2022,02/ 05/ 2022,01/ 06/ 2022,01/ 07/ 2022,01/ 08/ 2022,01/ 09/ 2022,03/ 10/ 2022,01/ 11/ 2022,01/ 12/ 2022
0,I,Semua Provinsi,"21,200","22,200","25,500","25,400","24,750","27,450","40,550","45,650","29,600","25,950","26,450","27,350"
1,II,Jawa Barat,"17,350","12,900","17,500","17,500","18,500","24,000","33,750","50,000","29,650","17,500","22,600","16,900"
2,1,Kab. Garut,"13,000","10,000","12,000","12,000","12,000","15,000","20,000","60,000","50,000","15,000","20,000","16,000"

In [46]:
# df = pd.read_csv("data/Produksi Cabai Rawit Menurut Bulan Tahun 2022.csv")

# df_transposed = df.T  # Transpose the DataFrame

# # Reset the index to make the transposed data cleaner
# df_transposed = df_transposed.reset_index()

# # Rename the columns for better readability
# df_transposed.columns = ['Bulan', 'Produksi']

# df_transposed.to_csv("data/ProduksiCabaiRawit2022.csv", index=False)

In [4]:
reshaped_df = df.set_index('Komoditas (Rp)').T
reshaped_df.index.name = 'Date'
reshaped_df = reshaped_df.iloc[1:].reset_index(drop=True)
reshaped_df

Komoditas (Rp) Semua Provinsi Jawa Barat Kab. Garut
0                      21,200     17,350     13,000
1                      22,200     12,900     10,000
2                      25,500     17,500     12,000
3                      25,400     17,500     12,000
4                      24,750     18,500     12,000
5                      27,450     24,000     15,000
6                      40,550     33,750     20,000
7                      45,650     50,000     60,000
8                      29,600     29,650     50,000
9                      25,950     17,500     15,000
10                     26,450     22,600     20,000
11                     27,350     16,900     16,000

In [5]:
numeric_columns = reshaped_df.columns[1:]  # Columns starting from dates

reshaped_df[numeric_columns] = (
    reshaped_df[numeric_columns]
    .replace(',', '', regex=True)
    .astype(int)
)

reshaped_df.to_csv('data/HargaBawangMerah2022.csv', index=False)